.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.bin/
.idea/
test/
dist/*
.vscode/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.log
package-lock.json
